<style>
    input[type='file'] {
        border: 1px solid #d1d1d1;
        padding: .5em;
        border-radius: .3em;
        width: 100%;
    }
    #container {position: relative; width: 568px; height:781px; border:2px solid #ccc; }
    .tt {
        position: absolute;
        background: transparent;
        width: 400px;
        overflow: visible;
        font-family: 'Lobster', cursive;
        font-weight: bold;
        font-size: 6rem;
        color: white;
        height: 250px;
        border:0;
        text-align: center;
        overflow-y:hidden;
        left: 15%;
        top: 25%;
    }
    #big {background: transparent; color: white; font-size: 7rem; font-weight: bold; font-family: 'Architects Daughter', cursive; text-align: center; position: absolute; left: 200px; top: 500px; }
    #small {background: transparent; color: white; font-size: 3rem; font-weight: bold; font-family: 'Domine', serif; cursive; text-align: center; position: absolute; left: 220px; top: 600px; }
    
</style>
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

   
  </script>
<center id="ji">
        <div id="container" >
            <img src="https://s-media-cache-ak0.pinimg.com/736x/f6/45/fd/f645fd7f91ffe2ce1b3c27f4ca9f1e93--the-wave-wave-.jpg" style="width: 568px; height:781px; position: relative; ">
            <div>
               <span class="tt" id="title" width="auto">
                    YangYang Surfing Festival<br>
                </span>                
                
                <span id="big" width="auto">
                     2018<br>
                </span>
                <span id="small" width="auto">
                   FRIDAY<br>
                   2018/1/1<br>
                   주소<br>
                   
                </span>
                
                </div>
            </div>
        </div>
    
</center>
