<style>
    input[type='file'] {
        border: 1px solid #d1d1d1;
        padding: .5em;
        border-radius: .3em;
        width: 100%;
    }
    #container {position: relative; width: 568px; height:781px; border:2px solid #ccc; background-color: LightSkyBlue; }
    #triangle-topleft {background-image: url(''); position: relative; width: 0; height: 0; border-top: 781px solid pink; border-right: 568px solid transparent;}
    #sm-container {position: absolute; top: -560px; width: 568px; height: 330px; background-color: #FFFFFF; padding-top: 10px; padding-bottom: 10px;}
    
    .tt {
        width: 568px;
        height: 300px;
        overflow: visible;
        font-family: 'Lobster', cursive;
        font-size: 9rem;
        border:0;
        text-align: center;
        overflow-y:hidden;
        background:clear;
    }
    
    #big {position: absolute; width: 568px; font-size: 3rem; font-family: 'Montserrat', sans-serif; color: #000000; text-align: center; left: initial; top: -700px;}
    #small {position: absolute; width: 568px; font-size: 1.5rem; text-align: center; font-family: 'Montserrat', sans-serif; color: #E9967A; left: initial; top: -170px;}

</style>
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
 
    $( ".draggable" ).draggable({ containment: "#container2", scroll: false });
    $( "#draggable1" ).draggable({ containment: "#container2", scroll: false });
    $( ".resizable" ).resizable();
    $(".selectable").selectable();
  })
   
  </script>
<center id="ji">
        <div id="container">
            <div id="triangle-topleft">
                <span id="big">
                    <strong>THE D SHACK</strong><br>
                    <p style="font-size: 2rem;">NEVER BEFORE SEEN DISCOUNTS!</p>
                </span>
                <div id="sm-container">
                    <img src="https://www.tally-ho.nl/media/catalog/category/sale-banner-2017.png" style="width: 300px; height: 120px; text-align: center;">
                    <span class="tt" id="title" width="auto">
                        <br>40% OFF!<br>
                    </span>
                    <span style="font-size: 2rem; font-family: 'Montserrat', sans-serif; color: #000000"><strong>27 OF AUGUST</strong></span>
                    <span style="font-size: 2rem; font-family: 'Montserrat', sans-serif; color: #FF8C00">
                        <br><strong>15 MARCUS RD, BRENTMOORE</strong><br>
                    </span>
                    
                </div>
                   
                
                <br>
                
                
                <span id="small">
                    <strong>EPIC BLACK SUNDAY SALE</strong>
                    <br><br>
                    <img src="https://image.flaticon.com/icons/svg/122/122698.svg" style="width:30px; height: 30px; padding-right: 5px;">
                    <img src="https://image.flaticon.com/icons/svg/122/122770.svg" style="width:30px; height: 30px; padding-right: 5px;">
                    <img src="https://image.flaticon.com/icons/svg/122/122707.svg" style="width:30px; height: 30px; padding-right: 5px;">
                    <img src="https://image.flaticon.com/icons/svg/122/122762.svg" style="width:30px; height: 30px; padding-right: 5px;">
                    <img src="https://image.flaticon.com/icons/svg/122/122734.svg" style="width:30px; height: 30px; padding-right: 5px;">
                    <br>
                    <p style="color: #000000; font-family: 'Armata', sans-serif;">
                        <strong>COME DIRECTLY TO THE<br>
                        WAREHOUSE OR OUTLET</strong><br>
                    </p>
                    <p style="color: #000000; font-family: 'Armata', sans-serif; font-size: 1.5rem;">
                        02)000-0000>
                    </p>
                </span>
            
            
        </div>
    
</center>
