<style>
    input[type='file'] {
        border: 1px solid #d1d1d1;
        padding: .5em;
        border-radius: .3em;
        width: 100%;
    }
    #container5 {position: relative; width: 568px; height:781px; border:2px solid #ccc; background-color: LightSkyBlue; }
    
    .tt {
        width: 568px;
        height: 300px;
        overflow: visible;
        font-family: 'Lobster', cursive;
        font-size: 9rem;
        border:0;
        text-align: center;
        overflow-y:hidden;
        background:clear;
    }
    
    #big {position: absolute; width: 568px; font-size: 3rem; font-family: 'Montserrat', sans-serif; color: #000000; text-align: center; left: initial; top: -700px;}
    #small {position: absolute; width: 568px; font-size: 1.5rem; text-align: center; font-family: 'Montserrat', sans-serif; color: #E9967A; left: initial; top: -170px;}

</style>
  
  </script>
<center id="ji">
        <div id="container5">
            <span class="tt" id="title" width="auto">
                <br>40% OFF!<br>
            </span>
            <span id="small">
                
            </span>
            
            
        </div>
    
</center>
