<style>
    input[type='file'] {
        border: 1px solid #d1d1d1;
        padding: .5em;
        border-radius: .3em;
        width: 100%;
    }
    #container3 { padding-top: 40px; position: relative; width: 568px; height:781px; border:2px solid #ccc; background-position: center top; background-image: url('../back1.jpg'); background-color: #FFFFFF; background-repeat: no-repeat; }
    
    .tt {
        position: absolute;
        width: 400px;
        /*overflow: visible;*/
        font-family: 'Lobster', cursive;
        font-size: 10rem;
        height: auto;
        border:0;
        left:15%;
        top: 10%;
        text-align:left;
        /*overflow-y:hidden;*/
        background:transparent;
    }
    
    #small {background: transparent; text-align: left; font-family: 'Domine', serif; cursive; position: absolute; left: 15%; top: 65%;}
    
</style>
  
<center id="ji">
       <div id="container3">
           <span style="position: absolute; font-size: 1.5rem; top: 5%; text-align:left; left:15%;">제 4회 청소년을 위한 영화학교 졸업작품 상영회</span>
            <span class="tt" id="title">
                Pony<br>Film<br>Festival<br>
            </span>
                
            <br>
            
            <span id="small">
                <p style="font-size: 3rem; font-family: 'Allan', cursive; ">Play On Neverending Youth</p>
                
                <br><br>
                일시: 2017년 8월 30일 (수) 오후 2시<br>
                장소: 한국영화진흥위원회 독립영화시사관<br>
                주최
                <img src="../logo1.PNG" style="width:170px; height:40px;">
                <br>
                후원
                <img src="../logo2.PNG" style="width:150px; height:40px;">
                <img src="../logo3.jpg" style="width:150px; height:40px;">
                <img src="../logo4.jpg" style="width:200px; height:40px;">
            </span>
        </div>
</center>
